@font-face {
  font-family: "THSarabunNew";
  src: url("./assets/fonts/THSarabunNew.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "THSarabunNew";
  src: url("./assets/fonts/THSarabunNew-Bold.ttf") format("truetype");
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "THSarabunNew", sans-serif;
}

@font-face {
  font-family: "THSarabunNew";
  src: url("./assets/fonts/THSarabunNew.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "THSarabunNew";
  src: url("./assets/fonts/THSarabunNew-Bold.ttf") format("truetype");
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* default font ภาษาไทย */
body {
  font-family: "THSarabunNew", sans-serif;
}